# macOS
.DS_Store

# Environment variables
.env

# JetBrains IntelliJ IDEA
.idea/

# Visual Studio Code
.vscode/

# Editor backup files
*~

# Rust artifacts
/rust-toolchain
/rust-toolchain.toml
/target
